{% load staticfiles %}

{% block enrollment_form %}

    <!-- Beginning Enrollment modal-->
        <!-- Modal -->
    <div class="modal fade " id="enrollment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         xmlns="http://www.w3.org/1999/html"
         >
        <form id="enrollment-form" class="form-horizontal">
        {% csrf_token %}
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header btn-primary" style="border-radius: 4px 4px 0px 0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel"> ENROLLMENT FORM</h4>
                </div>
                <div class="modal-body">
                    <div style="margin: auto 15px;">
                        <!-- Permanently hidden Fields -->
                        <input class="hidden clear_value" name="client_id" id="client_id"/>
                        <!-- End of permanently hidden fields -->

                        <div class="form-group">
                             <label for="middle_name" class="control-label">First Name</label>
                             <input type="text" class="form-control clear_value" id="first_name" name="first_name" >
                             <span id="spn_first_name" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                             <label for="middle_name" class="control-label">Middle Name</label>
                             <input type="text" class="form-control clear_value" id="middle_name" name="middle_name" >
                             <span id="spn_middle_name" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                             <label for="last_name" class="control-label">Last Name</label>
                             <input type="text" class="form-control validate_field clear_value" id="last_name" name="last_name" >
                             <span id="spn_last_name" class="clear_span"></span>
                         </div>

                         <div class="form-group has-feedback">
                             <label for="date_of_birth" class="control-label">Date of Birth:</label>
                             <input type="text" class="form-control clear_value" id="date_of_birth" name="date_of_birth" placeholder="Select date of birth" style="cursor: pointer;"><span class="add-on"><i class="icon-th"></i></span></p>
                             <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                             <script>
                                $(function() {
                                  $( "#date_of_birth" ).datepicker({
                                      dateFormat: 'yy-mm-dd'
                                  });
                                });
                                {% if client != None %}
                                    setTimeout(function () {
                                        /*var parsed_date = Date.parse("{{ client.date_of_birth }}");
                                        var date_object = new Date(parsed_date);
                                        var formatted_date = date_object.getFullYear() + '-' + date_object.getMonth() + '-' + date_object.getDate();
                                        $( "#date_of_birth" ).datepicker( "setDate", formatted_date );*/
                                    }, 1000);
                                {% endif %}
                            </script>
                             <span id="spn_date_of_birth" class="clear_span"></span>
                         </div>

                         <div class="checkbox">
                            <label>
                              <input type="checkbox" class="clear_true" id="is_date_of_birth_estimated" name="is_date_of_birth_estimated"> Date of Birth Estimated
                            </label>
                         </div>

                         <div class="form-group">
                             <label for="verification_doc_no" class="control-label">Verification Doc. No.</label>
                             <input type="text" class="form-control validate_field required_field clear_value" id="verification_doc_no" name="verification_doc_no" >
                             <span id="spn_verification_doc_no" class="clear_span"></span>
                         </div>

                         <div class="form-group has-feedback">
                             <label for="date_of_enrollment" class="control-label">Date of Enrollment:</label>
                             <input type="text" class="form-control format_date_event clear_value" name="date_of_enrollment" id="date_of_enrollment" placeholder="Select date of Enrollment" style="cursor: pointer;"><span class="add-on"><i class="icon-th"></i></span></p>
                             <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                             <script>
                                $(function() {
                                  $( "#date_of_enrollment").datepicker({
                                      dateFormat: 'yy-mm-dd',
                                      maxDate: '+0m +0d'
                                  });
                                });
                                {% if client != None %}
                                    setTimeout(function () {
                                        /*var parsed_date = Date.parse("{{ client.date_of_enrollment }}");
                                        var date_object = new Date(parsed_date);
                                        var formatted_date = date_object.getFullYear() + '-' + date_object.getMonth() + '-' + date_object.getDate();
                                        $( "#date_of_enrollment" ).datepicker( "setDate", formatted_date );*/
                                    }, 1000);

                                {% endif %}

                            </script>
                             <span id="spn_date_of_enrollment" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                             <label for="aget_at_enrollment" class="control-label">Age at Enrollment</label>
                             <input type="text" class="form-control validate_field required_field clear_value" id="age_at_enrollment" name="age_at_enrollment" >
                             <span id="spn_age_at_enrollment" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                            <label for="marital_status">Marital Status</label>
                            <select id="marital_status" name="marital_status" class="form-control validate_field clear_value" >
                                <option value="">Select Option</option>
                                <option value="401">Single</option>
                                <option value="402">Married/Cohabiting</option>
                                <option value="403">Separated/Divorced</option>
                                <option value="404">Widowed</option>
                            </select>
                             <span id="spn_marital_status" class="clear_span"></span>
                        </div>

                         <div class="form-group">
                             <label for="phone_number" class="control-label">Phone Number</label>
                             <input type="text" class="form-control validate_field phone_number_field clear_value" id="phone_number" name="phone_number">
                             <span id="spn_phone_number" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                             <label for="dss_id_number" class="control-label">DSS ID Number (If applicable)</label>
                             <input type="text" class="form-control" id="dss_id_number" name="dss_id_number">
                             <span id="spn_dss_id_number" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                            <label for="county_of_residence">County of Residence</label>
                            <select id="county_of_residence" name="county_of_residence" class="form-control validate_field clear_value">
                                <option value="">Select Option</option>
                                <option value="NBI">Nairobi</option>
                               <!-- <option value="KSM">Kisumu</option>
                                <option value="HBY">Homa Bay</option>
                                <option value="SYA">Siaya</option>-->
                            </select>
                             <span id="spn_county_of_residence" class="clear_span"></span>
                        </div>

                         <div class="form-group">
                            <label for="sub_county">Sub-County</label>
                            <select id="sub_county" name="sub_county" class="form-control validate_field clear_value" >
                                <option value="">Select Option</option>
                                <option value="NBI008">Westlands</option>
                               <option value="NBI007">Langata</option>
                                <option value="NBI006">Dagoretti</option>
                                <option value="NBI005">Njiru</option>
                               <option value="NBI004">Embakasi</option>
                                <option value="NBI003">Makadara</option>
                                <option value="NBI002">Kasarani</option>
                                <option value="NBI001">Kamukunji</option>
                            </select>
                             <span id="spn_sub_county" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                            <label for="ward">Ward</label>
                            <select id="ward" name="ward" class="form-control validate_field clear_value" >
                                <option value="">Select Option</option>
                            </select>
                             <span id="spn_ward" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                             <label for="informal_settlement" class="control-label">Informal Settlement</label>
                             <input type="text" class="form-control clear_value" id="informal_settlement" name="informal_settlement" >
                             <span id="spn_informal_settlement" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                             <label for="village" class="control-label">Village</label>
                             <input type="text" class="form-control clear_value" id="village" name="village" >
                             <span id="spn_village" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                             <label for="landmark" class="control-label">Land mark near residence</label>
                             <input type="text" class="form-control clear_value" id="landmark" name="landmark">
                             <span id="spn_landmark" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                             <label for="dreams_id" class="control-label">DREAMS ID Number</label>
                             <input type="text" class="form-control validate_field required_field clear_value" id="dreams_id" name="dreams_id">
                             <span id="spn_dreams_id" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                             <label for="guardian_name" class="control-label">Primary care giver /Guardian’s Name</label>
                             <input type="text" class="form-control clear_value" id="guardian_name" name="guardian_name">
                             <span id="spn_guardian_name" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                             <label for="relationship_with_guardian" class="control-label">Relationship</label>
                             <input type="text" class="form-control clear_value" id="relationship_with_guardian" name="relationship_with_guardian" >
                             <span id="spn_relationship_with_guardian" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                             <label for="guardian_phone_number" class="control-label">Phone number (Care giver /Guardian)</label>
                             <input type="text" class="form-control validate_field phone_number_field clear_value" id="guardian_phone_number" name="guardian_phone_number">
                             <span id="spn_guardian_phone_number" class="clear_span"></span>
                         </div>

                         <div class="form-group">
                             <label for="guardian_national_id" class="control-label">National ID (Care giver/Guardian)</label>
                             <input type="text" class="form-control clear_value" id="guardian_national_id" name="guardian_national_id">
                             <span id="spn_guardian_national_id" class="clear_span"></span>
                         </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button id="btn_hide_enrollment" type="button" class="btn btn-default"> Cancel </button>
                <button id="btn_save_enrollment" type="submit" class="btn btn-primary" > Save Enrollment </button>
              </div>
            </div>
          </div>
    </form>
    </div>
    <!-- End Enrollment modal-->

{% endblock %}