{% load staticfiles %}
<div class="container footer">
    <div class="footer-sub">

    </div>
    <div class="row partner-row dp-center-vertical-parent">
        <div class="col col-md-2 dp-center-vertical-only-child">
            <img class="patner-logo img img-responsive" src="{% static 'images/Partner_Logo_PEPFAR.jpg' %}">
        </div>
        <div class="col col-md-2 dp-center-vertical-only-child">
            <img class="patner-logo img img-responsive" src="{% static 'images/Partner_Logo_Gates.jpg' %}">
        </div>
        <div class="col col-md-2 dp-center-vertical-only-child">
            <img class="patner-logo img img-responsive" src="{% static 'images/Partner_Logo_Girl_Effect.jpg' %}">
        </div>
        <div class="col col-md-2 dp-center-vertical-only-child">
            <img class="patner-logo img img-responsive" src="{% static 'images/JohnsonandJohnsonLogo.jpg' %}" style="width: 100%;">
        </div>
        <div class="col col-md-2 dp-center-vertical-only-child">
            <img class="patner-logo img img-responsive" src="{% static 'images/viiv.jpeg' %}">
        </div>
        <div class="col col-md-2 dp-center-vertical-only-child">
            <img class="patner-logo img img-responsive" src="{% static 'images/Gilead_Sciences_Logo.jpg' %}">
        </div>
    </div>

</div>