{% load static %}
<div class="footer navbar navbar-fixed-bottom" style="">
    <div class="container">
        <div class="container descriptor-image"></div>
    </div>
    <div class="container">

        <div class="row div-sponsors">
        <div class="col-md-2 sponsor ">
            <img class="patner-logo img img-responsive pepfar" src="{% static 'images/Partner_Logo_PEPFAR.jpg' %}">
        </div>
        <div class="col-md-2 sponsor ">
            <img class="patner-logo img img-responsive gates" src="{% static 'images/Partner_Logo_Gates.jpg' %}" >
        </div>
        <div class="col-md-2 sponsor ">
            <img class="patner-logo img img-responsive girl" src="{% static 'images/Partner_Logo_Girl_Effect.jpg' %}">
        </div>
        <div class="col-md-2 sponsor">
            <img class="patner-logo img img-responsive" src="{% static 'images/JohnsonandJohnsonLogo.jpg' %}" >
        </div>
        <div class="col-md-2 sponsor">
            <img class="patner-logo img img-responsive" src="{% static 'images/viiv.jpeg' %}" width="60">
        </div>
        <div class="col-md-2 sponsor">
            <img class="patner-logo img img-responsive" src="{% static 'images/Gilead_Sciences_Logo.jpg' %}" >
        </div>
    </div>
    </div>

</div>