{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="wrapper-container">
        <div class="statusBox">
            <div>
                <h4>{% if user.implementingpartneruser != None %}IMPLEMENTING PARTNER:
                    {{ user.implementingpartneruser.implementing_partner.name }}{% endif %}</h4>
                {% if referred_in %}
                    <h6>Client Referrals In</h6>
                {% else %}
                    <h6>Client Referrals Out</h6>
                {% endif %}
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %}
                    class=" msg alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} "{% endif %}>{{ message }}</div>
                <script>
                    setTimeout(function () {
                        $('.msg').addClass('hidden').text("")
                    }, 3000);
                </script>
            {% endfor %}
        {% endif %}

        <table class="table table-striped dp-patient-table table-bordered" id="dreams-client-table"
               style="margin: 0px;border-radius: 5px;border: #efc636 solid 1px;">
            <thead class="dp-listing-table-head" style="background-color: #F8F1E1;color: #333333;">
            <th>Dreams ID</th>
            <th>Referring IP</th>
            <th>External Organisation</th>
            <th>External Organisation Other</th>
            <th>Intervention</th>
            <th>Referral Date</th>
            <th>Referral Expiration Date</th>

            {% if can_accept_or_reject and referred_in %}
                <th>Action</th>
            {% endif %}
            {% if not referred_in %}
                <th>Status</th>
            {% endif %}
            </thead>
            <tbody id="dp-patient-list-body">
            {% if client_referrals %}
                {% for client_referral in client_referrals %}
                    <tr>
                        <td>{{ client_referral.client.dreams_id }}</td>
                        <td>{{ client_referral.referring_ip.name }}</td>
                        <td>{{ client_referral.external_organisation.name }}</td>
                        <td>{{ client_referral.external_organisation_other }}</td>
                        <td>{{ client_referral.intervention_type.name }}</td>
                        <td>{{ client_referral.referral_date }}</td>
                        <td>{{ client_referral.referral_expiration_date }}</td>

                        {% if can_accept_or_reject and referred_in %}
                            <td>
                                {% if client_referral.can_be_accepted_or_rejected %}
                                    <a id="complete-{{ client_referral.id }}" name="complete-referral-modal"
                                       class='glyphicon glyphicon-ok badge btn btn-success'
                                       arial-label='Arial-Hidden'
                                       style="padding-bottom: 8px;" data-toggle="modal"
                                       data-target="#intervention-modal"
                                       data-id="{{ client_referral.id }}"
                                       data-client-name="{{ client_referral.client.get_full_name }}"
                                       data-referral-intervention-type-code="{{ client_referral.intervention_type.code }}"
                                       data-referral-intervention-type-name="{{ client_referral.intervention_type.name }}">

                                        Complete
                                    </a> &nbsp;&nbsp;
                                    <a id="reject-{{ client_referral.id }}" name="reject-referral-modal"
                                       class='glyphicon glyphicon-remove badge btn btn-danger'
                                       arial-label='Arial-Hidden' style="padding-bottom: 8px;" data-toggle="modal"
                                       data-target="#reject-referral-modal"
                                       data-id="{{ client_referral.id }}"
                                       data-client-name="{{ client_referral.client.get_full_name }}"
                                       data-client-dreams-id="{{ client_referral.client.dreams_id }}"
                                       data-client-date-of-birth="{{ client_referral.client.date_of_birth }}"
                                       data-client-intervention="{{ client_referral.intervention_type.name }}"
                                       data-client-referral-date="{{ client_referral.referral_date }}"
                                       data-client-referral-expiration-date="{{ client_referral.referral_expiration_date }}">
                                        Reject
                                    </a>
                                {% else %}
                                    <span>{{ client_referral.referral_status.name }}</span>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if not referred_in %}
                            <td>{{ client_referral.referral_status.name }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="8"> No pending referrals.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>

        <!-- Pagination section -->
        <div class="pagination">
            <span class="step-links">
                {% if client_referrals.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ client_referral.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ client_referral.number }} of {{ client_referrals.paginator.num_pages }}.
                </span>

                {% if client_referrals.has_next %}
                    <a href="?page={{ client_referrals.next_page_number }}">next</a>
                    <a href="?page={{ client_referrals.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

        <!-- put div for #intervention-modal dialogue-->
        <!-- Beginning modal-->
        <div class="modal fade" id="intervention-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             xmlns="http://www.w3.org/1999/html">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="intervention-entry-form" method="post" action="#">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">NEW INTERVENTION</h4>
                            <h5 id="intervention_client_name"></h5>
                        </div>
                        <div class="modal-body">

                            {% csrf_token %}
                            <!-- Permanently hidden Fields -->

{#                            <input class="hidden validate-intervention-form-field" name="client" value=""/>#}
                            <input class="hidden validate-intervention-form-field" name="created_by" value="{{ user.id }}"/>
                            <input class="hidden validate-intervention-form-field" name="intervention_id"
                                   id="intervention_id" value=""/>
                            <input class="hidden validate-intervention-form-field" name="changed_by" id="changed_by"
                                   value="{{ user.id }}"/>

                            <!-- End of Permanently hidden fields -->

                            <div class="form-group">
                                <label for="intervention-type-select">Intervention Type</label>
                                <select id="intervention-type-select" name="intervention_type_code"
                                        class="form-control validate-intervention-form-field">
                                </select>
                                <div id="div_out_of_age_bracket_warning" class="custom-has-error hide">
                                    <label class="control-label">Warning!, the client's age is outside the selected
                                        intervention type's age bracket </label>
                                </div>
                            </div>

                            <div class="form-group hidden" id="other_specify_section">
                                <label for="other_specify" class="control-label">Specify Intervention</label>
                                <input type="text" class="form-control validate-intervention-form-field" id="other_specify"
                                       name="other_specify">
                            </div>

                            <div class="form-group hidden" id="external_organization_section">
                                <label id="external_organization_label" for="external-organization-checkbox">Provided by
                                    External
                                    Organization</label>
                                <input type="checkbox" id="external-organization-checkbox"
                                       name="external_organization_checkbox" class="form-control">
                                </input>
                            </div>

                            <fieldset id="external_organization_more_section" class="hidden">
                                <div class="form-group">
                                    <label for="external-organization-select">Intervention Provided by External
                                        Organization:</label>
                                    <select id="external-organization-select" name="external_organization_code"
                                            class="form-control">
                                    </select>
                                </div>

                                <div class="form-group" id="other_external_organization">
                                    <label for="other-external-organization">Please specify</label>
                                    <input type="text" id="other-external-organization"
                                           name="other_external_organization_code" class="form-control">
                                    </input>
                                </div>
                            </fieldset>

                            <div class="form-group has-feedback hidden" id="intervention_date_section">
                                <label for="date-of-completion" class="control-label">Date: </label>
                                <input type="text" class="form-control validate-intervention-form-field"
                                       id="date-of-completion" placeholder="Select date " style="cursor: pointer;"><span
                                    class="add-on"><i class="icon-th"></i></span></p>
                                <input type="text" class="form-control validate-intervention-form-field hidden"
                                       id="date-of-completion-formatted" name="intervention_date"/>
                                <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                            </div>

                            <div class="form-group hidden" id="hts_result_section">
                                <label for="intervention-type-select">HTS Test Result</label>
                                <select id="hts-result-select" name="hts_result"
                                        class="form-control validate-intervention-form-field">
                                    <option value="">Select Option</option>
                                    <option value="201">Negative</option>
                                    <option value="202">Positive</option>
                                    <option value="203">Known Positive</option>
                                </select>
                            </div>

                            <div class="form-group hidden" id="ccc_number_section">
                                <label for="ccc-number" class="control-label">CCC Number</label>
                                <input type="text" class="form-control validate-intervention-form-field" id="ccc-number"
                                       name="client_ccc_number"></input>
                            </div>

                            <div class="form-group hidden" id="pregnancy_test_section">
                                <label for="intervention-type-select">Pregnancy Test Result</label>
                                <select id="pregnancy-result-select" name="pregnancy_test_result"
                                        class="form-control validate-intervention-form-field">
                                    <option value="">Select Option</option>
                                    <option value="101">Not Pregnant</option>
                                    <option value="102">Pregnant</option>
                                </select>
                            </div>

                            <div class="form-group hidden" id="no_of_sessions_section">
                                <label for="number-of-ss-sessions-attended" class="control-label">Number of SS Sessions
                                    Attended</label>
                                <input type="number" class="form-control validate-intervention-form-field"
                                       id="number-of-ss-sessions-attended" value="1" min="1" name="no_of_sessions_attended">
                            </div>

                            <div class="form-group hidden" id="notes_section">
                                <label for="comments-text" class="control-label">Comments/Notes</label>
                                <textarea class="form-control validate-intervention-form-field" id="comments-text"
                                          name="comment"></textarea>
                            </div>

                            <div class="form-group" id="notes_section">
                                <span id="error-space" class="label error-space" style="color: red;"></span>
                            </div>
                            Updated by <strong>{{ user.first_name }} {{ user.last_name }}</strong> on {% now "d-m-Y" %}

                        </div>
                        <div class="modal-footer">

                            <button id="btn_cancel_intervention" type="button" class="btn btn-sm btn-default"
                                    data-dismiss="modal"> Cancel
                            </button>

                            {% if perms.DreamsApp.change_intervention or perms.DreamsApp.delete_intervention %}
                                <button id="btn_save_intervention" type="submit" class="btn btn-sm btn-primary"> Save
                                    Intervention
                                </button>
                            {% endif %}

                            <span class="processing-indicator hidden">
                              <br/><br/>
                              <span><i class='fa fa-spinner fa-spin fa-1.5x'></i> Saving intervention... </span>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Beginning Reject Referral Modal -->
        <div class="modal fade" id="reject-referral-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Reject Client Referral</h4>
                    </div>
                    <form method="POST" action="{% url 'reject_client_referral' %}" id="reject_client_referral_form">
                        <div class="modal-body">
                            {% csrf_token %}

                            <input id="reject_client_referral_id" type="hidden" name="id" value="">

                            <div class="form-group form-inline">
                                <label for="client_name" class="control-label enrolment-label">Client:</label>
                                <a id="reject_client_name" class="referral-dialogue-link"></a>
                            </div>
                            <div class="form-group form-inline">
                                <label for="client_dreams_id" class="control-label enrolment-label">DREAMS ID:</label>
                                <a id="reject_client_dreams_id" class="referral-dialogue-link"></a>
                            </div>
                            <div class="form-group form-inline">
                                <label for="client_date_of_birth" class="control-label enrolment-label">Date of
                                    Birth:</label>
                                <a id="reject_client_date_of_birth" class="referral-dialogue-link"></a>
                            </div>
                            <div class="form-group form-inline">
                                <label for="client_intervention" class="control-label enrolment-label">Intervention:</label>
                                <a id="reject_client_intervention" class="referral-dialogue-link"></a>
                            </div>
                            <div class="form-group form-inline">
                                <label for="client_referral_date" class="control-label enrolment-label">Referral Date:</label>
                                <a id="reject_client_referral_date" class="referral-dialogue-link"></a>
                            </div>
                            <div class="form-group form-inline">
                                <label for="client_referral_expiration_date" class="control-label enrolment-label">Referral Expiration Date:</label>
                                <a id="reject_client_referral_expiration_date" class="referral-dialogue-link"></a>
                            </div>

                            <div class="form-group form-inline">
                                <label for="reject_reason" class="control-label enrolment-label">Reject Reason:</label>
                                <textarea id="reject_reason" name="reject_reason" class="form-control" rows="5"
                                          cols="40" required></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"> Cancel
                                </button>
                                <button type="submit" class="btn btn-sm btn-info">Reject Referral</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>

{% endblock %}