{% load widget_tweaks %}
<form method="POST" class="post-form" id="form_hiv_testing" action="/update-hiv-testing/">
    {% csrf_token %}
<div id="hiv_testing_replacement">
    <fieldset {% if not perms.DreamsApp.change_client %}disabled{% endif %}>
        <div class="form-group form-inline">
            {{ hiv_form.ever_tested_for_hiv.errors }}
            <label class="control-label enrolment-label">{{ hiv_form.ever_tested_for_hiv.label_tag }}</label>
            {{ hiv_form.ever_tested_for_hiv|add_class:"input-sm form-control enrolment-input listen-to-change"|set_data:"show_value:1"|set_data:"show_if_true:ever-tested"|set_data:"hide_if_true:never-tested" }}
        </div>
        <div class="ever-tested {% if hiv_form.ever_tested_for_hiv.value != 1 %} hidden {% endif %}">
            <div id="period_last_tested" class="form-group form-inline {% if hiv_form.ever_tested_for_hiv.value != 1 %}{% endif %}">
                {{ hiv_form.period_last_tested.errors }}
                <label class="control-label enrolment-label">{{ hiv_form.period_last_tested.label_tag }}</label>
                {{ hiv_form.period_last_tested|add_class:"input-sm form-control enrolment-input listen-to-change"|set_data:"show_value:any"|set_data:"show_class:recent-test" }}
            </div>
            <div id="last_test_result" class="form-group recent-test form-inline {% if hiv_form.ever_tested_for_hiv.value != 1 %}{% endif %}">
                {{ hiv_form.last_test_result.errors }}
                <label class="control-label enrolment-label">{{ hiv_form.last_test_result.label_tag }}</label>
                {{ hiv_form.last_test_result|add_class:"input-sm form-control enrolment-input listen-to-change"|set_data:"show_value:1"|set_data:"show_if_true:patient-enrollment"|set_data:"hide_if_false:care-facility reason-not-in-care" }}
            </div>

                <div id="enrolled_in_hiv_care" class="form-group form-inline patient-enrollment {% if hiv_form.last_test_result.value != 1 %} hidden {% endif %} ">
                    {{ hiv_form.enrolled_in_hiv_care.errors }}
                    <label class="control-label enrolment-label">{{ hiv_form.enrolled_in_hiv_care.label_tag }}</label>
                    {{ hiv_form.enrolled_in_hiv_care|add_class:"input-sm form-control enrolment-input listen-to-change"|set_data:"show_value:1"|set_data:"show_if_true:care-facility"|set_data:"hide_if_true:reason-not-in-care"  }}
                </div>
                <div id="care_facility_enrolled" class="form-group care-facility  form-inline {% if not hiv_form.care_facility_enrolled.value %} hidden {% endif %}">
                    {{ hiv_form.care_facility_enrolled.errors }}
                    <label class="control-label enrolment-label">{{ hiv_form.care_facility_enrolled.label_tag }}</label>
                    {{ hiv_form.care_facility_enrolled|add_class:"input-sm form-control enrolment-input" }}
                </div>
                <div class="reason-not-in-care {% if hiv_form.last_test_result.value != 1 %} hidden {% endif %}">
                    <div id="reason_not_in_hiv_care" class="form-group form-inline ">
                        {{ hiv_form.reason_not_in_hiv_care.errors }}
                        <label class="control-label enrolment-label">{{ hiv_form.reason_not_in_hiv_care.label_tag }}</label>
                        {{ hiv_form.reason_not_in_hiv_care|add_class:"input-sm form-control enrolment-input listen-to-change"|set_data:"show_value:96"|set_data:"show_if_true:reason-not-in-care-other" }}
                    </div>
                    <div id="reason_not_in_hiv_care_other" class="form-group reason-not-in-care-other  form-inline {% if not hiv_form.reason_not_in_hiv_care_other.value %} hidden {% endif %}">
                        {{ hiv_form.reason_not_in_hiv_care_other.errors }}
                        <label class="control-label enrolment-label">{{ hiv_form.reason_not_in_hiv_care_other.label_tag }}</label>
                        {{ hiv_form.reason_not_in_hiv_care_other|add_class:"input-sm form-control enrolment-input" }}
                    </div>
                </div>

        </div>
        <div class="never-tested {% if hiv_form.ever_tested_for_hiv.value != 2 %} hidden {% endif %} ">
            <div id="reason_never_tested_for_hiv" class="form-group  form-inline {% if hiv_form.ever_tested_for_hiv.value != 2 %}{% endif %}">
                {{ hiv_form.reason_never_tested_for_hiv.errors }}
                <label class="control-label enrolment-label">{{ hiv_form.reason_never_tested_for_hiv.label_tag }}</label>
                {{ hiv_form.reason_never_tested_for_hiv|add_class:"input-sm form-control enrolment-input multi-select"|set_data:"show_value:96"|set_data:"show_if_true:reason-not-tested-other" }}
            </div>
            <div id="reason_never_tested_for_hiv_other" class="form-group reason-not-tested-other form-inline {% if not hiv_form.reason_never_tested_for_hiv_other.value %} hidden {% endif %}">
                {{ hiv_form.reason_never_tested_for_hiv_other.errors }}
                <label class="control-label enrolment-label">{{ hiv_form.reason_never_tested_for_hiv_other.label_tag }}</label>
                {{ hiv_form.reason_never_tested_for_hiv_other|add_class:"input-sm form-control enrolment-input" }}
            </div>
            <div class="form-group form-inline {% if hiv_form.ever_tested_for_hiv.value != 2 %}{% endif %}">
                {{ hiv_form.knowledge_of_hiv_test_centres.errors }}
                <label class="control-label enrolment-label">{{ hiv_form.knowledge_of_hiv_test_centres.label_tag }}</label>
                {{ hiv_form.knowledge_of_hiv_test_centres|add_class:"input-sm form-control enrolment-input" }}
            </div>
        </div>
        <div class="form-group">
            {{ hiv_form.client.as_hidden }}
        </div>
        {% if client_action_permissions.can_perform_edit %}
            {% if is_editable_by_ip %}
                <div class="form-group form-inline">
                     <label class="control-label enrolment-label"></label>
                    {% if hiv_form.instance.client.exited %}
                        <button type="submit" class="btn btn-sm btn-primary exit_unexit_toggle" style="display: none;">Save</button>
                    {% else %}
                         <button type="submit" class="btn btn-sm btn-primary exit_unexit_toggle">Save</button>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </fieldset>
</div>
</form>