{% load widget_tweaks %}
<form method="POST" class="post-form" id="form_rep_health" action="/update-reproductive-health/">
    {% csrf_token %}
    <div id="rh_replacement">
        <fieldset {% if not perms.DreamsApp.change_client %}disabled{% endif %}>
            <div class="form-group form-inline">
                {{ rh_form.has_biological_children.errors }}
                <label class="control-label enrolment-label">{{ rh_form.has_biological_children.label_tag }}</label>
                {{ rh_form.has_biological_children|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline {% if rh_form.has_biological_children.value < 1 %}hidden{% endif %}">
                {{ rh_form.no_of_biological_children.errors }}
                <label class="control-label enrolment-label">No of Children</label>
                {{ rh_form.no_of_biological_children|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {{ rh_form.currently_pregnant.errors }}
                <label class="control-label enrolment-label">{{ rh_form.currently_pregnant.label_tag }}</label>
                {{ rh_form.currently_pregnant|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="{% if rh_form.currently_pregnant.value != 1 %}hidden{% endif %}">
                <div id="current_anc_enrollment" class="form-group form-inline">
                    {{ rh_form.current_anc_enrollment.errors }}
                    <label class="control-label enrolment-label">{{ rh_form.current_anc_enrollment.label_tag }}</label>
                    {{ rh_form.current_anc_enrollment|add_class:"input-sm form-control enrolment-input"  }}<br/>
                </div>
                <div class="form-group form-inline {% if rh_form.current_anc_enrollment.value != 1 %}hidden{% endif %}">
                    {{ rh_form.anc_facility_name.errors }}
                    <label class="control-label enrolment-label">Facility Enrolled</label>
                    {{ rh_form.anc_facility_name|add_class:"input-sm form-control enrolment-input"  }}
                </div>
            </div>
            <div class="form-group form-inline">
                {{ rh_form.fp_methods_awareness.errors }}
                <label class="control-label enrolment-label">{{ rh_form.fp_methods_awareness.label_tag }}</label>
                {{ rh_form.fp_methods_awareness|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div id="known_fp_method" class="form-group form-inline">
                {{ rh_form.known_fp_method.errors }}
                <label class="control-label enrolment-label">{{ rh_form.known_fp_method.label_tag }}</label>
                {{ rh_form.known_fp_method|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {{ rh_form.known_fp_method_other.errors }}
                <label class="control-label enrolment-label">Other</label>
                {{ rh_form.known_fp_method_other|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {{ rh_form.currently_use_modern_fp.errors }}
                <label class="control-label enrolment-label">{{ rh_form.currently_use_modern_fp.label_tag }}</label>
                {{ rh_form.currently_use_modern_fp|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div id="current_fp_method" class="form-group form-inline">
                {{ rh_form.current_fp_method.errors }}
                <label class="control-label enrolment-label">{{ rh_form.current_fp_method.label_tag }}</label>
                {{ rh_form.current_fp_method|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {{ rh_form.current_fp_method_other.errors }}
                <label class="control-label enrolment-label">Other</label>
                {{ rh_form.current_fp_method_other|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div id="reason_not_using_fp" class="form-group form-inline">
                {{ rh_form.reason_not_using_fp.errors }}
                <label class="control-label enrolment-label">{{ rh_form.reason_not_using_fp.label_tag }}</label>
                {{ rh_form.reason_not_using_fp|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {{ rh_form.reason_not_using_fp_other.errors }}
                <label class="control-label enrolment-label">Other</label>
                {{ rh_form.reason_not_using_fp_other|add_class:"input-sm form-control enrolment-input"  }}
                </div>
            <div class="form-group">
                {{ rh_form.client.as_hidden }}
            </div>
            <div class="form-group form-inline">
                 <label class="control-label enrolment-label"></label>
                 <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
        </fieldset>
    </div>
        <!--<button type="submit" class="btn btn-sm btn-primary">Save</button>-->
</form>
