{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="wrapper-container">
        <div class="statusBox">
            <div>
                <h4>{% if user.implementingpartneruser != None %}IMPLEMENTING PARTNER:
                    {{ user.implementingpartneruser.implementing_partner.name }}{% endif %}</h4>
                <div class="pull-right">
                    <a class="btn btn-primary"
                       href="{% url 'export_client_referrals' referred_in=referred_in|stringformat:'d' %}"
                       target="_blank">Export to Excel</a>
                </div>
                <h6>Client Referrals</h6>
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %}
                    class=" msg alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} "{% endif %}>{{ message }}</div>
                <script>
                    setTimeout(function () {
                        $('.msg').addClass('hidden').text("")
                    }, 3000);
                </script>
            {% endfor %}
        {% endif %}




    </div>

{% endblock %}