{% load widget_tweaks %}
{% load in_list_filter %}
<form method="POST" class="post-form" id="form_ind_household" action="/update-individual-household/">
    {% csrf_token %}
    <div id="household_replacement">
        <fieldset id="household_fieldset" {% if not perms.DreamsApp.change_client %}disabled{% endif %}>
            <div class="form-group form-inline">
                {{ household_form.head_of_household.errors }}
                <label class="control-label enrolment-label">{{ household_form.head_of_household.label_tag }}</label>
                {{ household_form.head_of_household|add_class:"input-sm form-control enrolment-input" }}
            </div>
            <div class="form-group form-inline">
                {% if household_form.head_of_household.value == 96 %}
                    <span id="household_head_other">
                {% else %}
                    <span id="household_head_other" class="hidden">
                {% endif %}
                {{ household_form.head_of_household_other.errors }}
                <label class="control-label enrolment-label">{{ household_form.head_of_household_other.label_tag }}</label>
                {{ household_form.head_of_household_other|add_class:"input-sm form-control enrolment-input"  }}
                </span>
            </div>
            <div class="form-group form-inline">
                {{ household_form.age_of_household_head.errors }}
                <label class="control-label enrolment-label">{{ household_form.age_of_household_head.label_tag }}</label>
                {{ household_form.age_of_household_head|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {{ household_form.is_father_alive.errors }}
                <label class="control-label enrolment-label">{{ household_form.is_father_alive.label_tag }}</label>
                {{ household_form.is_father_alive|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {{ household_form.is_mother_alive.errors }}
                <label class="control-label enrolment-label">{{ household_form.is_mother_alive.label_tag }}</label>
                {{ household_form.is_mother_alive|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {{ household_form.is_parent_chronically_ill.errors }}
                <label class="control-label enrolment-label">{{ household_form.is_parent_chronically_ill.label_tag }}</label>
                {{ household_form.is_parent_chronically_ill|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {{ household_form.main_floor_material.errors }}
                <label class="control-label enrolment-label">{{ household_form.main_floor_material.label_tag }}</label>
                {{ household_form.main_floor_material|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {% if household_form.main_floor_material.value == 96 %}
                    <span id="main_floor_material_other">
                {% else %}
                    <span id="main_floor_material_other" class="hidden">
                {% endif %}
                {{ household_form.main_floor_material_other.errors }}
                <label class="control-label enrolment-label">{{ household_form.main_floor_material_other.label_tag }}</label>
                {{ household_form.main_floor_material_other|add_class:"input-sm form-control enrolment-input"  }}
                </span>
            </div>
            <div class="form-group form-inline">
                {{ household_form.main_roof_material.errors }}
                <label class="control-label enrolment-label">{{ household_form.main_roof_material.label_tag }}</label>
                {{ household_form.main_roof_material|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {% if household_form.main_roof_material.value == 96 %}
                    <span id="main_roof_material_other">
                {% else %}
                    <span id="main_roof_material_other" class="hidden">
                {% endif %}
                {{ household_form.main_roof_material_other.errors }}
                <label class="control-label enrolment-label">{{ household_form.main_roof_material_other.label_tag }}</label>
                {{ household_form.main_roof_material_other|add_class:"input-sm form-control enrolment-input"  }}
                </span>

            </div>
            <div class="form-group form-inline">
                {{ household_form.main_wall_material.errors }}
                <label class="control-label enrolment-label">{{ household_form.main_wall_material.label_tag }}</label>
                {{ household_form.main_wall_material|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {% if household_form.main_wall_material.value == 96 %}
                    <span id="main_wall_material_other">
                {% else %}
                    <span id="main_wall_material_other" class="hidden">
                {% endif %}
                {{ household_form.main_wall_material_other.errors }}
                <label class="control-label enrolment-label">{{ household_form.main_wall_material_other.label_tag }}</label>
                {{ household_form.main_wall_material_other|add_class:"input-sm form-control enrolment-input"  }}
                </span>

            </div>
            <div class="form-group form-inline">
                {{ household_form.source_of_drinking_water.errors }}
                <label class="control-label enrolment-label">{{ household_form.source_of_drinking_water.label_tag }}</label>
                {{ household_form.source_of_drinking_water|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {% if household_form.source_of_drinking_water.value == 96 %}
                    <span id="source_of_drinking_water_other">
                {% else %}
                    <span id="source_of_drinking_water_other" class="hidden">
                {% endif %}

                {{ household_form.source_of_drinking_water_other.errors }}
                <label class="control-label enrolment-label">{{ household_form.source_of_drinking_water_other.label_tag }}</label>
                {{ household_form.source_of_drinking_water_other|add_class:"input-sm form-control enrolment-input"  }}
                </span>

            </div>
            <div class="form-group form-inline">
                {{ household_form.ever_missed_full_day_food_in_4wks.errors }}
                <label class="control-label enrolment-label">{{ household_form.ever_missed_full_day_food_in_4wks.label_tag }}</label>
                {{ household_form.ever_missed_full_day_food_in_4wks|set_data:"show_value:1"|set_data:"show_if_true:missed-food"|add_class:"input-sm form-control enrolment-input listen-to-change"  }}
            </div>
            <div class="form-group form-inline">
                {% if household_form.ever_missed_full_day_food_in_4wks.value == 1 %}
                    <span id="no_of_days_missed_food_in_4wks" class="missed-food">
                {% else %}
                    <span id="no_of_days_missed_food_in_4wks" class="missed-food hidden">
                {% endif %}

                {{ household_form.no_of_days_missed_food_in_4wks.errors }}
                <label class="control-label enrolment-label">{{ household_form.no_of_days_missed_food_in_4wks.label_tag }}</label>
                {{ household_form.no_of_days_missed_food_in_4wks|add_class:"input-sm form-control enrolment-input"  }}
                </span>
            </div>
            <div class="form-group form-inline">
                {{ household_form.has_disability.errors }}
                <label class="control-label enrolment-label">{{ household_form.has_disability.label_tag }}</label>
                {{ household_form.has_disability|add_class:"input-sm form-control enrolment-input listen-to-change"|set_data:"show_value:1"|set_data:"show_if_true:has-disability" }}
            </div>
            {% if household_form.has_disability.value == 1 %}
                <div id="disability_type" class="has-disability">
            {% else %}
                <div id="disability_type" class="hidden has-disability">
            {% endif %}
                    <div class="form-group form-inline">

                        {{ household_form.disability_type.errors }}
                        <label class="control-label enrolment-label">{{ household_form.disability_type.label_tag }}</label>
                        {{ household_form.disability_type|add_class:"input-sm form-control enrolment-input multi-select"|set_data:"show_value:96"|set_data:"show_if_true:other-disability"  }}
                    </div>
                    <div class="form-group form-inline other-disability {% if not 96|in_list:household_form.disability_type.value %} hidden {% endif %}">
                        {{ household_form.disability_type_other.errors }}
                        <label class="control-label enrolment-label">{{ household_form.disability_type_other.label_tag }}</label>
                        {{ household_form.disability_type_other|add_class:"input-sm form-control enrolment-input"  }}
                    </div>


            </div>
            <div class="form-group form-inline">
                {{ household_form.no_of_people_in_household.errors }}
                <label class="control-label enrolment-label">{{ household_form.no_of_people_in_household.label_tag }}</label>
                {{ household_form.no_of_people_in_household|add_class:"input-sm form-control enrolment-input"  }}
            </div>
            <div class="form-group form-inline">
                {{ household_form.no_of_females.errors }}
                <label class="control-label enrolment-label">{{ household_form.no_of_females.label_tag }}</label>
                {{ household_form.no_of_females|add_class:"input-sm form-control enrolment-input"  }}
            </div>
        <div class="form-group form-inline">
            {{ household_form.no_of_males.errors }}
            <label class="control-label enrolment-label">{{ household_form.no_of_males.label_tag }}</label>
            {{ household_form.no_of_males|add_class:"input-sm form-control enrolment-input"  }}
        </div>
        <div class="form-group form-inline">
            {{ household_form.no_of_adults.errors }}
            <label class="control-label enrolment-label">{{ household_form.no_of_adults.label_tag }}</label>
            {{ household_form.no_of_adults|add_class:"input-sm form-control enrolment-input"  }}
        </div>
        <div class="form-group form-inline">
            {{ household_form.no_of_children.errors }}
            <label class="control-label enrolment-label">{{ household_form.no_of_children.label_tag }}</label>
            {{ household_form.no_of_children|add_class:"input-sm form-control enrolment-input"  }}
        </div>
        <div id="ever_enrolled_in_ct_program" class="form-group form-inline ">
            {{ household_form.ever_enrolled_in_ct_program.errors }}
            <label class="control-label enrolment-label">{{ household_form.ever_enrolled_in_ct_program.label_tag }}</label>
            {{ household_form.ever_enrolled_in_ct_program|add_class:"input-sm form-control enrolment-input listen-to-change"|set_data:"show_value:1"|set_data:"show_if_true:ct-enrollment"|set_data:"show_if_false:current-ct-enrollment"  }}
        </div>

        {% if household_form.ever_enrolled_in_ct_program.value == 1 %}
            <div id="currently_in_ct_program" class="form-group form-inline ct-enrollment">
        {% else %}
            <div id="currently_in_ct_program" class="form-group form-inline hidden ct-enrollment">
        {% endif %}

            {{ household_form.currently_in_ct_program.errors }}
            <label class="control-label enrolment-label">{{ household_form.currently_in_ct_program.label_tag }}</label>
            {{ household_form.currently_in_ct_program|add_class:"input-sm form-control enrolment-input listen-to-change"|set_data:"show_value:1"|set_data:"show_if_true:current-ct-enrollment"  }}
            <div class="current-ct-enrollment {% if not household_form.current_ct_program.value %} hidden {% endif %}">
                {{ household_form.current_ct_program.errors }}
                <label class="control-label enrolment-label">{{ household_form.current_ct_program.label_tag }}</label>
                {{ household_form.current_ct_program|add_class:"input-sm form-control enrolment-input "  }}
            </div>
        </div>

        <div class="form-group">
            {{ household_form.client.as_hidden }}
        </div>
        <div class="form-group form-inline">
             <label class="control-label enrolment-label"></label>
             <button type="submit" class="btn btn-sm btn-primary">Save</button>
        </div>
    </div>
    <!---->
</form>