{% extends 'base.html' %}
{% block content %}

    <div class="wrapper-container enrolment-input-question">
        <!-- Start of Client profile section -->
        <div class=" statusBox">
            <div>
                <h4>{% if user.implementingpartneruser != None %}IMPLEMENTING PARTNER: {{ user.implementingpartneruser.implementing_partner.name }}{% endif %}</h4>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <p><strong>Client: </strong> {{ client.get_full_name }} </p>
                    <p><strong>DREAMS ID: </strong> {{ client.dreams_id }}</p>
                    <p><strong>Date Birth: </strong> {{ client.date_of_birth }} (Age {{ client.get_age_at_enrollment }})</p>

                </div><!--/col-->
                <div class="col-xs-12 col-sm-4">
                    <p><strong>Date Enrolled: </strong> {{ client.date_of_enrollment }}</p>
                     <p><strong>Phone Number: </strong>
                        <span>{{ client.phone_number }} {% if client.phone_number == None and client.guardian_phone_number != None and client.guardian_phone_number != '' %}(Guardian){{ client.guardian_phone_number }}{% endif %}</span>
                    </p>
                    <p><strong>Marital status: </strong> {{ client.marital_status }}</p>
                </div><!--/col-->
                <div class="col-xs-12 col-sm-3">
                <p><strong>Actions: </strong> <br>
                    {% if perms.can_manage_user %}
                    <p class="underline_hover"  data-client_id='{{ client.id }}' style="cursor:pointer;" onclick="window.location='/client?client_id={{ client.id }}&search_client_term={{ search_client_term }}'" data-toggle="tooltip" title="Edit Enrollment"><span class="glyphicon glyphicon-pencil"></span> Service Uptake</p>
                    {% endif %}
                </p>
            </div>

        </div>

        </div>
        <a class="no-hover" href="/clients?search_client_term={{ search_client_term }}" style="float: right;margin-bottom: 5px;margin-top: -5px;margin-right: 10px;"><span class="glyphicon glyphicon-triangle-left"> </span> Back to Clients list</a>
        <div class="alert hidden dp-action-alert" id="action_alert_gen" role="alert"></div>
        <!-- End of Client profile section -->
        <div class="dreams-profile-tab-control" id="dreams-enrollment-tab-control">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#demographics" aria-controls="demographics" role="tab"
                                           data-toggle="tab">Demographics</a>
                </li>
                <li role="presentation"><a href="#individual_and_household" aria-controls="individual_and_household"
                                           role="tab" data-toggle="tab">Individual
                    and Household</a></li>
                <li role="presentation"><a href="#education_and_employment" aria-controls="education_and_employment"
                                           role="tab" data-toggle="tab">Education
                    and Employment</a></li>
                <li role="presentation"><a href="#hiv_testing" aria-controls="hiv_testing" role="tab" data-toggle="tab"
                >HIV Testing</a></li>
                <li role="presentation"><a href="#sexuality" aria-controls="hiv_testing" role="tab" data-toggle="tab"
                >Sexuality</a></li>
                <li role="presentation"><a href="#reproductive_health" aria-controls="reproductive_health" role="tab"
                                           data-toggle="tab">Reproductive
                    Health</a></li>
                <li role="presentation"><a href="#gbv" aria-controls="gbv" role="tab" data-toggle="tab"
                                           data-tab_table_id="#interventions_4001_table">GBV</a></li>
                <li role="presentation"><a href="#drug_use" aria-controls="drug_use" role="tab" data-toggle="tab"
                >Drug Use</a></li>
                <li role="presentation"><a href="#participation_in_program" aria-controls="participation_in_program"
                                           role="tab" data-toggle="tab">Programs</a>
                </li>

            </ul>
            <div id="results"></div>
            <div class="tab-content dp-tab-content">
                <br/>
                <div role="tabpanel" id="demographics" class="tab-pane fade in active client_profile_tab"
                     data-tabpanel_id="#demographics">
                    {% include 'client_demographics_form.html' %}
                </div>

                <div role="tabpanel" id="individual_and_household" class="tab-pane fade client_profile_tab"
                     data-tabpanel_id="#individual_and_household">
                    {% include 'client_individual_household_form.html' %}
                </div>

                <div role="tabpanel" id="education_and_employment" class="tab-pane fade client_profile_tab"
                     data-tabpanel_id="#education_and_employment" >
                    {% include 'education_and_employment_form.html' %}
                </div>

                <div role="tabpanel" id="hiv_testing" class="tab-pane fade client_profile_tab"
                     data-tabpanel_id="#hiv_testing" >
                    {% include 'client_hiv_testing_form.html' %}
                </div>

                <div role="tabpanel" id="sexuality" class="tab-pane fade client_profile_tab"
                     data-tabpanel_id="#sexuality" >
                    {% include 'client_sexuality_form.html' %}
                </div>
                <div role="tabpanel" id="reproductive_health" class="tab-pane fade client_profile_tab"
                     data-tabpanel_id="#reproductive_health" >
                    {% include 'client_reproductive_health_form.html' %}
                </div>

                <div role="tabpanel" id="gbv" class="tab-pane fade client_profile_tab" data-tabpanel_id="#gbv"
                     >
                    {% include 'client_gbv_form.html' %}
                </div>

                <div role="tabpanel" id="drug_use" class="tab-pane fade client_profile_tab" data-tabpanel_id="#drug_use"
                     >
                    {% include 'client_drug_use_form.html' %}
                </div>

                <div role="tabpanel" id="participation_in_program" class="tab-pane fade client_profile_tab"
                     data-tabpanel_id="#participation_in_program" >
                    {% include 'client_programme_participation_form.html' %}
                </div>
                <input id="baseline_current_client_id" class="hidden" type="text"  value="{{ client.id }}">

            </div>
        </div>

        <br/>

    <script>

        $(document).ready(function () {
            //Handle demographics tab
            $('#form_demographics').on('submit', function (event) {
                event.preventDefault();
                var form = $('#form_demographics');

                $('#demo_current_client_id').val($('#baseline_current_client_id').val());

                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: $(this).serialize(),
                    success: function (data) {
                        $('#demo_replacement').replaceWith(data);
                        $('#action_alert_gen').removeClass('hidden').addClass('alert-success')
                       .text('saved successfully')
                       .trigger('madeVisible')
                    },
                    error: function (xhr, errmsg, err) {
                        $('#action_alert_gen').removeClass('hidden').addClass('alert-danger')
                       .text('Could not save changes')
                       .trigger('madeVisible')

                    }
                });

            });


            //Handle Individual and household tab
            $('#form_ind_household').on('submit', function (event) {
                event.preventDefault();

                var form = $('#form_ind_household');
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: $(this).serialize(),
                   success: function (data) {
                        $('#household_replacement').replaceWith(data);

                        $('#action_alert_gen').removeClass('hidden').addClass('alert-success')
                       .text('saved successfully')
                       .trigger('madeVisible')
                    },
                    error: function (xhr, errmsg, err) {
                        $('#action_alert_gen').removeClass('hidden').addClass('alert-danger')
                       .text('Could not save changes')
                       .trigger('madeVisible')

                    }
                });

            });


            //Handle Education and employment tab
            $('#form_edu_and_employment').on('submit', function (event) {
                event.preventDefault();

                var form = $('#form_edu_and_employment');
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: $(this).serialize(),
                     success: function (data) {
                        $("#edu_replacement").replaceWith(data);

                        $('#action_alert_gen').removeClass('hidden').addClass('alert-success')
                       .text('saved successfully')
                       .trigger('madeVisible')
                    },
                    error: function (xhr, errmsg, err) {
                        $('#action_alert_gen').removeClass('hidden').addClass('alert-danger')
                       .text('Could not save changes')
                       .trigger('madeVisible')

                    }
                });

            });


            //Handle HIV Testing tab
            $('#form_hiv_testing').on('submit', function (event) {
                event.preventDefault();

                var form = $('#form_hiv_testing');
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: $(this).serialize(),
                     success: function (data) {
                        $('#hiv_testing_replacement').replaceWith(data);

                        $('#action_alert_gen').removeClass('hidden').addClass('alert-success')
                       .text('saved successfully')
                       .trigger('madeVisible')
                    },
                    error: function (xhr, errmsg, err) {
                        $('#action_alert_gen').removeClass('hidden').addClass('alert-danger')
                       .text('Could not save changes')
                       .trigger('madeVisible')

                    }
                });

            });


            //Handle Sexuality Tab
            $('#form_sexuality').on('submit', function (event) {
                event.preventDefault();

                var form = $('#form_sexuality');
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: $(this).serialize(),
                     success: function (data) {
                        $("#sexuality_replacement").replaceWith(data);

                        $('#action_alert_gen').removeClass('hidden').addClass('alert-success')
                       .text('saved successfully')
                       .trigger('madeVisible')
                    },
                    error: function (xhr, errmsg, err) {
                        $('#action_alert_gen').removeClass('hidden').addClass('alert-danger')
                       .text('Could not save changes')
                       .trigger('madeVisible')

                    }
                });

            });


            //Handle Reproductive Health Tab
            $('#form_rep_health').on('submit', function (event) {
                event.preventDefault();

                var form = $('#form_rep_health');
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: $(this).serialize(),
                     success: function (data) {
                        $("#rh_replacement").replaceWith(data);

                        $('#action_alert_gen').removeClass('hidden').addClass('alert-success')
                       .text('saved successfully')
                       .trigger('madeVisible')
                    },
                    error: function (xhr, errmsg, err) {
                        $('#action_alert_gen').removeClass('hidden').addClass('alert-danger')
                       .text('Could not save changes')
                       .trigger('madeVisible')

                    }
                });

            });


            //Handle GBV Tab
            $('#form_gbv').on('submit', function (event) {
                event.preventDefault();

                var form = $('#form_gbv');
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: $(this).serialize(),
                     success: function (data) {
                        $('#gbv_replacement').replaceWith(data);

                        $('#action_alert_gen').removeClass('hidden').addClass('alert-success')
                       .text('saved successfully')
                       .trigger('madeVisible')
                    },
                    error: function (xhr, errmsg, err) {
                        $('#action_alert_gen').removeClass('hidden').addClass('alert-danger')
                       .text('Could not save changes')
                       .trigger('madeVisible')

                    }
                });

            });


            //Handle Drug Use tab
            $('#form_drug_use').on('submit', function (event) {
                event.preventDefault();

                var form = $('#form_drug_use');
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: $(this).serialize(),
                     success: function (data) {
                        $('#drug_use_replacement').replaceWith(data);

                        $('#action_alert_gen').removeClass('hidden').addClass('alert-success')
                       .text('saved successfully')
                       .trigger('madeVisible')
                    },
                    error: function (xhr, errmsg, err) {
                        $('#action_alert_gen').removeClass('hidden').addClass('alert-danger')
                       .text('Could not save changes')
                       .trigger('madeVisible')

                    }
                });

            });


            //Handle Participation in programmes tab
            $('#form_programme_participation').on('submit', function (event) {
                event.preventDefault();

                var form = $('#form_programme_participation');
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: $(this).serialize(),
                     success: function (data) {
                        $("#program_replacement").replaceWith(data);

                        $('#action_alert_gen').removeClass('hidden').addClass('alert-success')
                       .text('saved successfully')
                       .trigger('madeVisible')
                    },
                    error: function (xhr, errmsg, err) {
                        $('#action_alert_gen').removeClass('hidden').addClass('alert-danger')
                       .text('Could not save changes')
                       .trigger('madeVisible')

                    }
                });

            });

            $('.listen-to-change').on('change', function () {
                var val = $(this).val();
                var show_class = $(this).data('show_class'); // class to hide/show
                var show_value = $(this).data('show_value'); // value to determine show/hide

                if(val == show_value){
                    console.log(show_class);
                    $('.'+show_class).removeClass('hidden');
                } else {
                     console.log(show_class);
                    $('.'+show_class).addClass('hidden');
                }
            });



        });

        function skip_pattern(target_element, target_value, element_list_to_manipulate, hide_class) {

           var option = $('#'+target_element).val();
            console.log(option + ' against: ' + target_value);
            if (option == target_value) {
                for (var i =0; i< element_list_to_manipulate.length; i++ ) {
                    console.log(element_list_to_manipulate[i])
                    $('#'+element_list_to_manipulate[i]).removeClass(hide_class);
                }
            } else {
                 for (var i =0; i< element_list_to_manipulate.length; i++ ) {
                    console.log(element_list_to_manipulate[i])
                    $('#'+element_list_to_manipulate[i]).addClass(hide_class);
                }
            }


        }
    </script>
    </div>
{% endblock %}