

    <div id="demo_replacement">
        <div class="form-group">
            {{ demo_form.implementing_partner.errors }}
            <label class="control-label">{{ demo_form.implementing_partner.label_tag }}</label>
            {{ demo_form.implementing_partner }}
        </div>
        <div class="form-group">
            {{ demo_form.first_name.errors }}
            {{ demo_form.first_name.label_tag }}
            {{ demo_form.first_name }}

            {{ demo_form.middle_name.errors }}
            {{ demo_form.middle_name.label_tag }}
            {{ demo_form.middle_name }}

            {{ demo_form.last_name.errors }}
            {{ demo_form.last_name.label_tag }}
            {{ demo_form.last_name }}
        </div>
        <div class="form-group">
            {{ demo_form.date_of_birth.errors }}
            {{ demo_form.date_of_birth.label_tag }}
            {{ demo_form.date_of_birth }}

            {{ demo_form.date_of_enrollment.errors }}
            {{ demo_form.date_of_enrollment.label_tag }}
            {{ demo_form.date_of_enrollment }}
        </div>
        <div class="form-group">
            {{ demo_form.verification_document.errors }}
            {{ demo_form.verification_document.label_tag }}
            {{ demo_form.verification_document }}

            {{ demo_form.verification_doc_no.errors }}
            {{ demo_form.verification_doc_no.label_tag }}
            {{ demo_form.verification_doc_no }}
        </div>
        <div class="form-group">
            {{ demo_form.marital_status.errors }}
            {{ demo_form.marital_status.label_tag }}
            {{ demo_form.marital_status }}
        </div>
        <div class="form-group">
            {{ demo_form.phone_number.errors }}
            {{ demo_form.phone_number.label_tag }}
            {{ demo_form.phone_number }}
        </div>
        <div class="form-group">
            {{ demo_form.dss_id_number.errors }}
            {{ demo_form.dss_id_number.label_tag }}
            {{ demo_form.dss_id_number }}
        </div>
        <div class="form-group">
            {{ demo_form.county_of_residence.errors }}
            {{ demo_form.county_of_residence.label_tag }}
            {{ demo_form.county_of_residence }}

            {{ demo_form.sub_county.errors }}
            {{ demo_form.sub_county.label_tag }}
            {{ demo_form.sub_county }}

            {{ demo_form.ward.errors }}
            {{ demo_form.ward.label_tag }}
            {{ demo_form.ward }}

        </div>

        <div class="form-group">
            {{ demo_form.informal_settlement.errors }}
            {{ demo_form.informal_settlement.label_tag }}
            {{ demo_form.informal_settlement }}

            {{ demo_form.village.errors }}
            {{ demo_form.village.label_tag }}
            {{ demo_form.village }}
        </div>

        <div class="form-group">
            {{ demo_form.landmark.errors }}
            {{ demo_form.landmark.label_tag }}
            {{ demo_form.landmark }}
        </div>
        <div class="form-group">
            {{ demo_form.dreams_id.errors }}
            {{ demo_form.dreams_id.label_tag }}
            {{ demo_form.dreams_id }}
        </div>
        <div class="form-group">
            {{ demo_form.guardian_name.errors }}
            {{ demo_form.guardian_name.label_tag }}
            {{ demo_form.guardian_name }}
        </div>
        <div class="form-group">
            {{ demo_form.relationship_with_guardian.errors }}
            {{ demo_form.relationship_with_guardian.label_tag }}
            {{ demo_form.relationship_with_guardian }}
        </div>
        <div class="form-group">
            {{ demo_form.guardian_phone_number.errors }}
            {{ demo_form.guardian_phone_number.label_tag }}
            {{ demo_form.guardian_phone_number }}
        </div>
        <div class="form-group">
            {{ demo_form.guardian_national_id.errors }}
            {{ demo_form.guardian_national_id.label_tag }}
            {{ demo_form.guardian_national_id }}
        </div>
        <div class="form-group">
            {{ demo_form.client.as_hidden }}
        </div>

    </div>

