{% load widget_tweaks %}
<form method="POST" class="post-form" id="form_drug_use" action="update-drug-use">
    {% csrf_token %}
    <div id="drug_use_replacement">
        <fieldset {% if not perms.DreamsApp.change_client %}disabled{% endif %}>
            <div class="form-group form-inline">
                {{ drug_use_form.used_alcohol_last_12months.errors }}
                <label class="control-label enrolment-label">Have you used alcohol in the last 12 months?</label>
                {{ drug_use_form.used_alcohol_last_12months|add_class:"input-sm form-control enrolment-input listen-to-change"|set_data:"show_value:1"|set_data:"show_if_true:used-alcohol" }}
            </div>
            <div id="frequency_of_alcohol_last_12months" class="form-group form-inline used-alcohol {% if drug_use_form.used_alcohol_last_12months.value != 1 %}hidden{% endif %}">
                {{ drug_use_form.frequency_of_alcohol_last_12months.errors }}
                <label class="control-label enrolment-label">In the past 12 months, how often did you have a drink containing alcohol?</label>
                {{ drug_use_form.frequency_of_alcohol_last_12months|add_class:"input-sm form-control enrolment-input" }}
            </div>
            <div class="form-group form-inline listen-to-change">
                {{ drug_use_form.drug_abuse_last_12months.errors }}
                <label class="control-label enrolment-label">Have you used drugs of abuse or addiction in the last 12 months?</label>
                {{ drug_use_form.drug_abuse_last_12months|add_class:"input-sm form-control enrolment-input listen-to-change"|set_data:"show_value:1"|set_data:"show_if_true:used-drugs" }}
            </div>
            <div id="drug_used_last_12months" class=" used-drugs {% if drug_use_form.drug_abuse_last_12months.value != 1 %}hidden{% endif %}">
                <div class="form-group form-inline">
                    {{ drug_use_form.drug_used_last_12months.errors }}
                    <label class="control-label enrolment-label">Which types of drugs of abuse/addiction have you used in last 12 months</label>
                    {{ drug_use_form.drug_used_last_12months|add_class:"input-sm form-control enrolment-input multi-select"|set_data:"show_value:96"|set_data:"show_if_true:used-drugs-other" }}
                </div>
                <div class="form-group used-drugs-other {% if not drug_use_form.drug_used_last_12months_other.value %} hidden {% endif %} form-inline">
                    {{ drug_use_form.drug_used_last_12months_other.errors }}
                    <label class="control-label enrolment-label">Other</label>
                    {{ drug_use_form.drug_used_last_12months_other|add_class:"input-sm form-control enrolment-input" }}
                </div>
            </div>
            <div class="form-group form-inline">
                {{ drug_use_form.produced_alcohol_last_12months.errors }}
                <label class="control-label enrolment-label">In the last 12 months, have you engaged in brewing or selling alcohol and/or drugs
                    of abuse or addiction</label>
                {{ drug_use_form.produced_alcohol_last_12months|add_class:"input-sm form-control enrolment-input" }}
            </div>
            <div class="form-group">
                {{ drug_use_form.client.as_hidden }}
            </div>
            {% if client_action_permissions.can_perform_edit %}
                {% if is_editable_by_ip %}
                    <div class="form-group form-inline">
                         <label class="control-label enrolment-label"></label>
                         {% if drug_use_form.instance.client.exited %}
                            <button type="submit" class="btn btn-sm btn-primary exit_unexit_toggle" style="display: none">Save</button>
                         {% else %}
                              <button type="submit" class="btn btn-sm btn-primary exit_unexit_toggle">Save</button>
                         {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        </fieldset>
    </div>
</form>
