{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row dp-margin" xmlns="http://www.w3.org/1999/html">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Patients List</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                <form action="/search-patient" method="get">
                    <div class="col-xs-6" >
                        <div class="has-feedback">
                            <input type="search" class="form-control" placeholder="Search for patient"><span class="add-on"><i class="glyphicon glyphicon-search form-control-feedback"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <table class="table table-striped">
                    {% for woman in patients %}

                    {% endfor %}
                </table>

            </div>
          </div>
        </div>

    </div>
{% endblock %}