{% extends 'base.html' %}
{% block pageJs %}

    <script type="text/javascript">
        $(document).ready(function(){

            $('#btn_download_excel').click(function(){
                //download_excel();
                var ips = $('#i_p').val();
                ajax_download('/download-excel/', {'ips': ips})
                // download_excel();
                // alert('Here');
            });

        });
 function getCookie(name) {
           var cookieValue = null;
           if (document.cookie && document.cookie != '') {
             var cookies = document.cookie.split(';');
             for (var i = 0; i < cookies.length; i++) {
             var cookie = jQuery.trim(cookies[i]);
             // Does this cookie string begin with the name we want?
             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                 break;
              }
         }
     }
     return cookieValue;
    }

    function getInterventionUsingId() {

        var csrftoken = getCookie('csrftoken');
        var iv_id = $('#iv_id').val();

        $.ajax({
            url : "/ivGet/", // the endpoint
            type : "POST", // http method
            dataType: 'json',
            data : {
                csrfmiddlewaretoken : csrftoken,
                intervention_id : iv_id
            },
            success : function(data) {
                alert(data);
                console.log(data);

            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }

    function download_excel() {
         var i_frame = document.getElementById('download_excel');
         var csrftoken = getCookie('csrftoken');
         var ips = $('#i_p').val();
        $.ajax({
            url : "/download-excel/", // the endpoint
            type : "POST", // http method
            dataType: 'json',
            data : {
                csrfmiddlewaretoken : csrftoken,
                ips : ips
            },
            success : function(data) {
                alert(data);


            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
         //i_frame.src = "/download-excel/";
    }

    function ajax_download(url, data) {
        var $iframe,
            iframe_doc,
            iframe_html;
        var csrftoken = getCookie('csrftoken');

        if (($iframe = $('#download_iframe')).length === 0) {
            $iframe = $("<iframe id='download_iframe'" +
                        " style='display: none' src='about:blank'></iframe>"
                       ).appendTo("body");
        }

        iframe_doc = $iframe[0].contentWindow || $iframe[0].contentDocument;
        if (iframe_doc.document) {
            iframe_doc = iframe_doc.document;
        }

        iframe_html = "<html><head></head><body><form method='POST' action='" +
                      url +"'>"
        iframe_html +='<input type="hidden" name="csrfmiddlewaretoken" value="' + csrftoken+ '">';


        Object.keys(data).forEach(function(key){
            iframe_html += "<input type='hidden' name='"+key+"' value='"+data[key]+"'>";

        });

            iframe_html +="</form></body></html>";

        iframe_doc.open();
        iframe_doc.write(iframe_html);
        $(iframe_doc).find('form').submit();
    }
    </script>



{% endblock %}

{% block content %}
    <h4>Raw Data Export</h4>

    <hr/>
    <div id="results"></div>
    <hr/>
    <div id="download-excel">
        <form method="post">
            {% csrf_token %}
            Implementing Partner<hr/>
            {% if ips.count == 1 %}
                <select id="i_p">
            {% else %}
                <select id="i_p" multiple>
            {% endif %}

                {%for ip in ips%}

                    <option value= "{{ ip.id }}">{{ ip }}</option>

                {% endfor %}

            </select>
            <iframe id="download_excel" style="display: none" ></iframe>
            <br/><br/>
                <input type="button" id="btn_download_excel" value="Download EXCEL">

        </form>


    </div>

    <hr/>

{% endblock %}