{% extends 'base.html' %}
{% block pageJs %}


    <script type="text/javascript">
        $(document).ready(function(){

            $('select#i_p').change(function() {
                $(this).map(function() {
                    getSubGrantees($(this).val());
                });
            });

            $('#btn_download_enrollment_excel').click(function(){
                var frm = $('#frm_download-excel')
                var ips = $('#i_p').val();
                if(ips == null || ips.length == 0){
                    $('#ip_selection_alert').removeClass('hidden').addClass('alert-danger')
                        .text("Please select Implementing Partner to Export Data")
                        .trigger('madeVisible')
                    return;
                }
                frm.submit();
            });
        });

        function getCookie(name) {
           var cookieValue = null;
           if (document.cookie && document.cookie != '') {
             var cookies = document.cookie.split(';');
             for (var i = 0; i < cookies.length; i++) {
                 var cookie = jQuery.trim(cookies[i]);
                 // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                  }
             }
         }
         return cookieValue;
        }


        function getSubGrantees(ip_list) {
            var csrftoken = getCookie('csrftoken');
            console.log(ip_list);
            $.ajax({
                url : "/getSubGrantees", // the endpoint
                type : "POST", // http method
                dataType: 'json',
                data : {
                    csrfmiddlewaretoken : csrftoken,
                    ip_list : ip_list
                },
                success : function(data) {
                    sub_grantees = $.parseJSON(data.sub_grantees);

                    var subGranteeSelect = $('#id_sub_grantee');
                    subGranteeSelect.empty();
                    subGranteeSelect.append($("<option />").attr("value", '').text('Select Sub Grantee').addClass('selected disabled hidden').css({display:'none'}));

                    if (sub_grantees.length > 0) {
                        $.each(sub_grantees, function () {
                            subGranteeSelect.append($("<option />").attr("value", this.pk).text(this.fields.name));
                        });
                    }
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        }


        function download_excel() {
             var i_frame = document.getElementById('download_excel');
             var csrftoken = getCookie('csrftoken');
             var ips = $('#i_p').val();
             var sub_county = $('#id_sub_county').val();
             var ward = $('#id_ward').val();
             var sub_grantee = null;

            if ($('#id_sub_grantee')) {
                sub_grantee = $('#id_sub_grantee').val();
            }

            $.ajax({
                url : "/download-excel/", // the endpoint
                type : "POST", // http method
                dataType: 'json',
                data : {
                    csrfmiddlewaretoken : csrftoken,
                    ips : ips,
                    sub_county: sub_county,
                    ward: ward,
                    sub_grantee: sub_grantee
                },
                success : function(data) {
                    alert(data);
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="wrapper-container">
        <div class="statusBox"  style="">
            <div>
                <h4>{% if user.implementingpartneruser != None %}IMPLEMENTING PARTNER: {{ user.implementingpartneruser.implementing_partner.name }}{% endif %}</h4>
                <h6>Raw Data Export &nbsp;</h6>
            </div>
            <div class="floatRightLinks">
                <div class="rightItem">
                    <span class="text-info"><span class="glyphicon glyphicon-info-sign"></span>
                        {% if perms.can_view_cross_ip_data %}
                            Select Implementing Partner/Partners to Export Data.
                         {% else %}
                            Select your Implementing Partner to Export Data.
                          {% endif %}
                    </span>
                </div>
            </div>
        </div>

        <div class=" alert hidden dp-action-alert fade in" id="ip_selection_alert" role="alert" style="margin-bottom: 10px;"></div>

        <div class="fit-item report-export-form-div">
            <form id="frm_download-excel" method="post" class="" action="/download-excel/" target="_blank">
                {% csrf_token %}
                <div class="form-group">
                    <label>Select Implementing Partner</label>
                    <select id="i_p" name="ips" {% if ips.count >  1 %}multiple {% endif %} class="form-control" size="{{ ips.count }}">
                        {%for ip in ips%}
                            <option value= "{{ ip.id }}">{{ ip }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="county_of_residence">County</label>
                    <select id="id_county_of_residence" name="county_of_residence" class="form-control clear_value">
                        <option value="">Select County</option>
                        {% for county in counties %}
                            <option data-county_of_residence_id="{{ county.id }}" value="{{ county.id }}">{{ county.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                 <div class="form-group">
                    <label for="sub_county">Sub-County</label>
                    <select id="id_sub_county" name="sub_county" class="form-control clear_value" >
                        <option value="">Select Sub-County</option>
                        {% for sub_county in sub_counties %}
                            <option value="{{ sub_county.id }}" data-sub_county_id="{{ sub_county.id }}" data-county_id="{{ sub_county.county.id }}">{{ sub_county.name }}</option>
                        {% endfor %}
                    </select>
                 </div>

                 <div class="form-group">
                    <label for="ward">Ward</label>
                    <select id="id_ward" name="ward" class="form-control clear_value" >
                        <option value="">Select Ward</option>
                        {% for ward in wards %}
                            <option value="{{ ward.code }}">{{ ward.name }}</option>
                        {% endfor %}
                    </select>
                 </div>

{#                {% if sub_grantees %}#}
                    <div class="form-group">
                        <label for="ward">Sub Grantee</label>
                        <select id="id_sub_grantee" name="sub_grantee" class="form-control clear_value" >
                            <option value="">Select Sub Grantee</option>
                            {% for sub_grantee in sub_grantees %}
                                <option value="{{ sub_grantee.id }}">{{ sub_grantee.name }}</option>
                            {% endfor %}
                        </select>
                     </div>
{#                {% endif %}#}

                <div class="form-group">
                    <input class="btn btn-sm btn-primary" type="button" id="btn_download_enrollment_excel" value="Download EXCEL">
                </div>
            </form>
        </div>
    </div>
{% endblock %}