{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="wrapper-container">
        <div class="statusBox"  style="">
            <div>
                <h4>{% if user.implementingpartneruser != None %}IMPLEMENTING PARTNER: {{ user.implementingpartneruser.implementing_partner.name }}{% endif %}</h4>
                <h6>DREAMS User help &nbsp;</h6>
            </div>
            <div class="floatRightLinks">
                <div class="rightItem">
                    <form method="post" class="">
                        {% csrf_token %}
                        <iframe id="download_manual" style="display: none" ></iframe>
                    </form>
                </div>
            </div>
        </div>

        <div class=" alert hidden dp-action-alert fade in" id="ip_selection_alert" role="alert" style="margin-bottom: 10px;"></div>

        <div id="div_help">
            <h4>Contacts</h4>
            <p><strong>Telephone: </strong>+254 792 289990</p>
            <p><strong>Mobile: </strong>+254 724 933 948, +254 703 133 896, +254 719 877 135</p>
            <p><strong>Email: </strong><a href="mailto:dreams@ucglobalprograms.org" target="_blank">dreams@ucglobalprograms.org</a> </p>
            <p><a target="_blank" class="manual_download pointer-area" href="https://dreamske.on.spiceworks.com/portal">Help Desk</a></p>
            <br>
            <h4>Manuals</h4>
            <p>
                <form id="frm_download_odk" action="help/download/" method="post" target="_blank">
                    {% csrf_token %}
                    <strong>ODK Enrolment</strong>
                    <input class="hidden" name="manual" value="odk_enrolment_manual">
                    <input class="hidden" name="manual_friendly_name" value="DREAMS ODK Enrolment Manual.pdf">
                    <a target="_blank" class="manual_download pointer-area" data-form_id="#frm_download_odk" data-manual="odk_enrolment_manual" data-manual_friendly_name="DREAMS ODK Enrolment Manual.pdf">download</a>
                </form>
            </p>
            <p>
                <form id="frm_download_webapp" action="help/download/" method="post" target="_blank">
                    {% csrf_token %}
                    <strong>DREAMS Web Application</strong>
                    <input class="hidden" name="manual" value="web_app_manual">
                    <input class="hidden" name="manual_friendly_name" value="DREAMS Web Application Manual.pdf">
                    <a target="_blank" class="manual_download pointer-area" data-form_id="#frm_download_webapp" >download</a>
                </form>
            </p>
        </div>


        <br>

    </div>

{% endblock %}