{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="wrapper-container">
        <div class="statusBox"  style="">
            <div>
                <h4>{% if user.implementingpartneruser != None %}IMPLEMENTING PARTNER: {{ user.implementingpartneruser.implementing_partner.name }}{% endif %}</h4>
                <h6>DREAMS User help &nbsp;</h6>
            </div>
            <div class="floatRightLinks">
                <div class="rightItem">
                    <form method="post" class="">
                        {% csrf_token %}
                        <iframe id="download_manual" style="display: none" ></iframe>
                    </form>
                </div>
            </div>
        </div>

        <div class=" alert hidden dp-action-alert fade in" id="ip_selection_alert" role="alert" style="margin-bottom: 10px;"></div>

        <div id="div_help">
            <h4>Contacts</h4>
            <p><strong>Telephone: </strong>+254 792 289990</p>
            <p><strong>Mobile: </strong>+254 724 933984, +254 723 268255, +254 712 761810</p>
            <p><strong>Email: </strong><a href="mailto:dreams@ucglobalprograms.org" target="_blank">dreams@ucglobalprograms.org</a> </p>
            <br>
            <h4>Manuals</h4>
            <p><strong>ODK Enrolment</strong> <a class="manual_download pointer-area" data-manual="odk_enrolment_manual" data-manual_friendly_name="DREAMS ODK Enrolment Manual.pdf">download</a></p>
            <p><strong>DREAMS Web Application</strong> <a class="manual_download pointer-area" data-manual="web_app_manual" data-manual_friendly_name="DREAMS Web Application Manual.pdf">download</a></p>
        </div>

    </div>

{% endblock %}