{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" style="" id="landing-html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=' icon' href='{% static 'images/logo.png' %}' type='image/png' >
        <title>DREAMS Service Uptake Form</title>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'css/landing.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="{% static  'js/site.js'%}"></script>

    </head>
    <body class="cb">

    <div class="main-content">
        <div class="div-logo">
            <img src="{% static 'images/logo-white.jpg' %}" alt="DREAMS Logo"/>
        </div>
        <div class="text-subheader underline">Client Enrollment &amp; Service Uptake</div>
        <div class="div-login-form">
            <div class="credentials">
                <form action="#" method="post" id="dp-login-form" class="form-horizontal" >
                    {% csrf_token %}
                  <div class="text-subheader">
                      Sign in
                  </div>
                  <div class="text-body">
                      Use your DREAMS username and password
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="form-control" class="btn btn-default">Log in</button>
                  </div>
                    <div class="form-group">
                        <a href="#" class="option">I forgot my password</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="div-descriptor">
            <img src="{% static 'images/descriptor.jpg' %}" alt="DREAMS Logo" />
        </div>
        <div class="row div-sponsors">
            <div class="col-md-2 sponsor ">
                <img class="patner-logo img img-responsive pepfar" src="{% static 'images/Partner_Logo_PEPFAR.jpg' %}">
            </div>
            <div class="col-md-2 sponsor ">
                <img class="patner-logo img img-responsive gates" src="{% static 'images/Partner_Logo_Gates.jpg' %}" >
            </div>
            <div class="col-md-2 sponsor ">
                <img class="patner-logo img img-responsive girl" src="{% static 'images/Partner_Logo_Girl_Effect.jpg' %}">
            </div>
            <div class="col-md-2 sponsor">
                <img class="patner-logo img img-responsive" src="{% static 'images/JohnsonandJohnsonLogo.jpg' %}" >
            </div>
            <div class="col-md-2 sponsor">
                <img class="patner-logo img img-responsive" src="{% static 'images/viiv.jpeg' %}" width="60">
            </div>
            <div class="col-md-2 sponsor">
                <img class="patner-logo img img-responsive" src="{% static 'images/Gilead_Sciences_Logo.jpg' %}" >
            </div>
        </div>
    </div>

    </body>
</html>
