{% extends 'base.html' %}
{% block pageJs %}

{% endblock %}

{% block content %}

    <div class="wrapper-container">
        <div class="statusBox" style="">
            <div>
                <h4>{% if user.implementingpartneruser != None %}IMPLEMENTING PARTNER:
                    {{ user.implementingpartneruser.implementing_partner.name }}{% endif %}</h4>
                <h6>Raw Data Export &nbsp;</h6>
            </div>
            <div class="floatRightLinks">
                <div class="rightItem">
                    <span class="text-info"><span class="glyphicon glyphicon-info-sign"></span>
                        {% if perms.can_view_cross_ip_data %}
                            Select Implementing Partner/Partners to Export Data.
                        {% else %}
                            Select your Implementing Partner to Export Data.
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>

        <div class=" alert hidden dp-action-alert fade in" id="ip_selection_alert" role="alert"
             style="margin-bottom: 10px;"></div>

        <div class="fit-item report-export-form-div">
            <form id="frm_download-intervention-excel" method="post" class="" action="{% url 'download_intervention_transferred_in_excel' %}"
                  target="_blank">
                {% csrf_token %}

                <div class="form-inline">
                    <div class="form-group has-feedback">
                        <label for="from_intervention_date" class="control-label">From intervention date:</label>
                        <input type="text" class="form-control clear_value" id="from_intervention_date"
                               name="from_intervention_date" style="cursor: pointer;"><span class="add-on"><i
                            class="icon-th"></i></span></p>
                        <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                        <script>
                            $(function () {
                                $("#from_intervention_date").datepicker({
                                    maxDate: '0y 0m 0d',
                                    minDate: (new Date(2015, 9, 1)),
                                    dateFormat: 'yy-mm-dd',
                                    changeMonth: true,
                                    changeYear: true
                                });
                            });
                        </script>
                        <span id="spn_date_of_birth" class="clear_span"></span>
                    </div>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                    <div class="form-group has-feedback">
                        <label for="to_intervention_date" class="control-label">To intervention date:</label>
                        <input type="text" class="form-control clear_value" id="to_intervention_date"
                               name="to_intervention_date" style="cursor: pointer;"><span class="add-on"><i
                            class="icon-th"></i></span></p>
                        <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                        <script>
                            $(function () {
                                $("#to_intervention_date").datepicker({
                                    maxDate: '0y 0m 0d',
                                    minDate: (new Date(2015, 9, 1)),
                                    dateFormat: 'yy-mm-dd',
                                    changeMonth: true,
                                    changeYear: true
                                });
                            });
                        </script>
                        <span id="spn_date_of_birth" class="clear_span"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input class="btn btn-sm btn-primary" type="submit" id="btn_download_intervention_excel"
                           value="Download Interventions Report">
                </div>
            </form>
        </div>

    </div>

{% endblock %}