{% extends 'base.html' %}
{% block pageJs %}
    <script type="text/javascript">


    </script>



{% endblock %}

{% block content %}
    <h3>Loading Interventions</h3>

    <hr/>
    <div id="types">
        <form method="post">
            {% csrf_token %}
            <select id="i_types">
                <option value="0">Select Intervention</option>
                <option value="1001">Behavioral</option>
                <option value="2001">Bio-Medical</option>
                <option value="3001">Post GBV Care</option>
                <option value="4001">Social Protection</option>
                <option value="5001">Other Interventions</option>

            </select>
        </form>

        <div id="results"></div>
    </div>

{% endblock %}