 /* DREAMS PROJECT */

 html, body{
     width: 100%;
     height: 100%;
     background-color: #ffffff;
 }

 /* Beginning of navbar */

 .main-content{
    max-width: 800px;
    margin: auto;
}

.navbar-main {
  background-color: #26247B;
  border-color: #26247B;

}

 .navbar-main .navbar-brand {
  color: #cccccc;
}

.navbar-main .navbar-brand:hover,
.navbar-main .navbar-brand:focus {
  color: #ffffff;
}

.navbar-main .navbar-text {
  color: #cccccc;
}

.navbar-main h1{
    font: 300% helvetica, arial, sans-serif;
    color: #f8f1e1;
    font-variant: small-caps;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 2px #333;
}

.navbar-main h2{
    font-size: 90%;
    font-weight: 100;
    letter-spacing: 1px;
    color: #f8f1e1;
    margin: 2px 0 6px;
}

.navbar-main .navbar-nav{
    font-size: 100%;
    font-weight: 200;
    letter-spacing: 1px;
    color: #f8f1e1;
}

.navbar-main .navbar-nav > li{
    color: #cccccc;
    background-color: #26247B;
}

.navbar-main .navbar-nav > li > a {
  color: #cccccc;
}

.navbar-main .navbar-nav > li > a:hover,
.navbar-main .navbar-nav > li > a:focus {
  color: #ffffff;
    background-color: #26247B;
}

.navbar-main .navbar-nav > .active > a,
.navbar-main .navbar-nav > .active > a:hover,
.navbar-main .navbar-nav > .active > a:focus{
    /*
    color: #333;
    background-color: #F8F1E1;
    border-radius: 4px 4px 0px 0px;
    */
  color: #efc636;
}

.navbar-main .navbar-nav > li > .dropdown-menu {
  background-color: #FFFFFF;
}


.navbar-main .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-main .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #333;
}
.navbar-main .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #26247B;
}

.navbar-main .navbar-nav .open .dropdown-menu > .active > a,
.navbar-main .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-main .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #333;
}


.navbar-main .navbar-nav > .open > a,
.navbar-main .navbar-nav > .open > a:hover,
.navbar-main .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #26247B;
}

.navbar-main .navbar-toggle {
  border-color: #26247B;
}

.navbar-main .navbar-toggle:hover,
.navbar-main .navbar-toggle:focus {
  background-color: #26247B;
}

.navbar-main .navbar-toggle .icon-bar {
  color: #cccccc;
}

.navbar-main .navbar-collapse,
.navbar-main .navbar-form {
  border-color: #cccccc;
}
.navbar-main .navbar-link {
  color: #cccccc;
}
.navbar-main .navbar-link:hover {
  color: #ffffff;
}


/* Additions */


 .main-container{
    background-color: #FFFFFF;
     margin: 5px auto;
     padding: auto 3px;
     border-radius: 3px;
 }

 .navbar-pre{
     height: 3px;
     background-image: url("../images/descriptor.jpg");
 }

 .navbar-sub{
     height: 3px;
     background-image: url("../images/descriptor.jpg");
 }

 .navbar-sub .text{
     margin: 7px 0 4px;
    color: #f8f1e1;
    font: 250% HNL, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
 }
 /* End of Navbar */


 .dp-center-vertical-parent{
     display: flex;
 }

 .dp-center-vertical-child{
     margin: auto;
 }

 .dp-center-vertical-only-child{
     margin: auto 0px;
 }

 .dp-center-horizontal{
     text-align: center;
 }

 .dp-full-height{
     min-height: 80% !important;
     background-color: #ffffff;
 }


 #dp-logo{
  height: 60px;
 }

 .dp-margin{
     margin: 15px;
 }

 .dp-underline{
     text-decoration: underline;
 }

 #home-wrapper{
    display: table;
 }

 #home-wrapper .row-div{
    display: table-row;
}

#home-wrapper .cell-div{
    display: table-cell;
}

#home-wrapper hr{
    border: 5px;
}

#home-wrapper .login-text{
    font-size: 18px;
}

 #dp-login-form{
     height: 100px;
 }


 .dp-header-medium{
     font-size: large;
 }

 .search-section{
     height: auto;
     background: none repeat scroll 0 0 #E5EBF0;
     padding: 15px 15px;
     margin: 0px 0px;
     margin-bottom: 10px;
     border-radius: 0px;
     position: relative;
 }

 /* Patient table */
.dp-tab-control{
    background-color: #F8F1E1;
    display: inline-block;
    padding: 1px;
    text-align: left;
    margin: 0% 0 2% 0;
    width: 100%;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px
}

#client_profile_tab_control>.nav-tabs> li > a{
     color: #333;
 }

#client_profile_tab_control>.nav-tabs> .active > a{
     background-color: #FFFFFF;
     border: solid 1px #efc636;
     border-bottom: solid 3px #FFFFFF;
    z-index: 300;
    margin-bottom: -5px;
 }

 .dp-tab-content{
     background-color: #FFFFFF;
     padding: 1%;
 }



 #patient-table {
    background-color: transparent;
 }

.dp-listing-table-head{
}

.dp-table-head-black{
    background-color: #333333;
    color: #FFFFFF
}

.actions-col{
    min-width: 150px;
    width: 150px;
    max-width: 150px;
}
 /* End of patient table */

.statusBox{
    background-color: #f0db91;
    display: inline-block;
    padding: 1%;
    text-align: left;
    margin: 2% 0 2% 0;
    width: 100%;
    border: solid 3px #efc636;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px

}

.statusBox .floatLeftStatus {
    font: 100% Arial, Helvetica, sans-serif;
    float: left;
    margin: 0;
    margin-right: 20px;
    border-right: 1px dotted #666;
    width: 20%;
    padding: 0 1% 0 0;
    height: auto
}

.statusBox .floatRightLinks{
    margin-bottom: 10px;
}

 .statusBox .floatRightLinks .rightItem {
}

.underline_hover:hover{
    text-decoration: underline;
}

 .fit-item{
     width: 100%;
 }

 .tab-content{
     background-color: transparent;
 }

 .space{
     margin-bottom: 15px;
 }

 .spinner{
     color: gray;
     text-align: center;
     margin:3em;
     font-size: xx-large;
 }

  .message-view{
     color: gray;
     text-align: center;
     margin: 10px auto;
     font-size: xx-large;
 }

  .edit_intervention_click{
      cursor: pointer;
  }

  .edit_intervention_click:hover{
    text-decoration: none;
      color: dodgerblue;
  }

  .delete_intervention_click{
      cursor: pointer;
  }

  .delete_intervention_click:hover{
     text-decoration: none;
      color: red;
  }

  .view_intervention_click:hover{
      text-decoration: none;
      color: green;
  }

  /* Enrollment form */

 /* scrollable modal */

 .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

  /* scrollable modal */

.div-descriptor{
    width: 100%;
    margin-bottom: 1px;
}

.div-descriptor img{
    width: 100%;
}

.div-sponsors{
    display: flex;
    height: 40px;
    background-color: transparent;
    text-align: center;
    margin: auto;
    margin-top: 0px;
}

.div-sponsors .sponsor{
    margin: auto;
    padding-top: .227px;
    padding-bottom: .227px;
}

.descriptor-image{
    width: 100%;
    background-image: url("../images/descriptor.jpg");
    height:24px;
    margin-bottom: 5px;
}